.gokul{

    margin-left: -2px;    
}

.gokul1{
margin-left:100px;
}
.gokul2{
margin-left:0px;
}
.gokul3{
margin-left:100px;
}
.gokul4{
margin-left:0px;
}
.gokul5{
margin-left:74px;
}
.gokul6{
margin-left:0px;
}
.gokul7{
margin-left:134px;
}
.gokul8{
margin-left:0px;
}
.gokul9{
margin-left:54px;
}
.gokul10{
margin-left:0px;
}
.gokul11{
margin-left:120px;
}
.gokul12{
margin-left:0px;
}
.gokul13{
margin-left:0px;
}
.gokul14{
margin-left:117px;
}
.gokul15{
margin-left:0px;
}
.gokul16{
margin-left:153px;
}
.gokul17{
margin-left:0px;
}
.gokul18{
margin-left:115px;
}
.gokul19{
margin-left:0px;
}
.gokul20{
margin-left:140px;
}
.gokul21{
margin-left:0px;
}
.gokul22{
margin-left:112px;
}
.gokul23{
margin-left:0px;
}
.gokul24{
margin-left:0px;
}
.gokul25{
margin-left:0px;
}
.gokul26{
margin-left:0px;
}
.gokul27{
margin-left:0px;
}
.gokul28{
margin-left:0px;
}
.gokul29{
margin-left:0px;
}
.gokul30{
margin-left:0px;
}
.gokul31{
margin-left:0px;
}
.gokul32{
margin-left:0px;
}
.gokul33{
 margin-bottom:-40px;
    }
.mainheader{
    margin: 45px 350px 50px 100px; background-color: #ff8635; padding: 30px 150px 100px 150px;

}
.qualify{
    border: 2px solid blue;margin-left: 208px;
}